@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");

/* Custom colours */

:root {
    --colour-01: #7dd87d;
    --colour-02: #4c9173;
    --colour-03: #5b446a;
    --colour-04: #906387;
    --border: 0.5rem inset var(--colour-03);
}


/* Body */

body {
    font-family: "IBM Plex Mono", monospace;
}


/* Intro modal */

dialog[open] {
    width: 60%;
    max-width: 600px;
    padding: 2rem;

    border: var(--border);

    background-color: var(--colour-02);
    color: var(--colour-01);

    font-family: "IBM Plex Mono", monospace;
}


/* Buttons */

button {
    border: var(--border);
}


/* Piano keys */

.whiteKey {
    cursor: pointer;
}

.whiteKey:hover {
    background-color: red;
}

